Source: consul-alerts
Section: net
Priority: optional
Maintainer: Ritesh Raj Sarraf <Ritesh.Sarraf@ril.com>
Build-Depends: debhelper (>= 9), golang
Standards-Version: 3.9.2
Homepage: https://github.com/JioCloud/consul-alerts

Package: consul-alerts
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: consul-alerts binary package
  This is a binary package for consul-alerts.
